.feedback-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 24px;
  max-width: 408px;
  margin: 0 auto;
  background-color: #f6f6fe;
  border-radius: 8px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 8px;
  margin-bottom: 8px;
}

.feedback-form button {
  margin-top: 8px;
}

.feedback-form input {
  width: 360px;
  border: 1px solid #808080;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  outline: none;
}

.feedback-form input:focus {
  border-color: #000;
}

.feedback-form textarea {
  width: 360px;
  border: 1px solid #808080;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  outline: none;
  resize: none;
  max-height: 80px;
}

.feedback-form textarea:focus {
  border-color: #000;
}

.feedback-form button {
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 86px;
  background: #4e75ff;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  border: none;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.feedback-form button:hover,
.feedback-form button:focus {
  background: #6c8cff;
}
