.gallery {
  max-width: 1128px;
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.gallery-item img {
  max-width: 360px;
  display: block;
  transition: transform 0.2s linear;
}

.gallery-item img:hover,
.gallery-item img:focus {
  transform: scale(103%);
}